.formContainer {
  background-color: #7adaa0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: #55c481;
      flex-direction: column;
      gap: 15px;
    }
    .title {
      color: #55c481;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid #7adaa0;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }
      button {
        background-color: #7adaa0;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #8df1b2;
        cursor: pointer;
      }
    }
    p {
      color: #55c481;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
